

<div class="text-layout">

    <h1>Yonathan Placencia</h1>

    <p>
        Curriculum Vitae
    </p>

</div>


<div class="grid">

    <div class="col-12 md:col-7 lg:col-8">

        <div class="col-12 ">
            <p-card header="Acerca de mi">

                    <p class="text-justify">
                            Me presento, mi nombre es Yonathan Placencia, soy ingeniero en informática, oriundo de 
                        la ciudad de Puerto Montt. 
                         Mi área de especialidad es el desarrollo web, con conocimientos en desarrollo mobile. 
                        Actualmente me encuentro con disponibilidad inmediata para trabajar en una empresa, y no 
                        tengo problema alguno en cambiarme de ciudad para cumplir mis labores o trabajar vía 
                        remota.
                    </p>
                    
            </p-card>
            
        </div>        

        <div class="col-12 ">
            <p-card [header]="item.empresa | uppercase"
                    [subheader]="item.cargo" *ngFor="let item of experiencia; let indice = index">
                
                    <!-- experiencia -->
                    <h2>Tareas Realizadas:</h2>
                    <p *ngFor="let descripcion of item.descripcion" 
                        class="text-justify"> 
                            {{ descripcion.parrafo }} 
                    </p>
                    
                    <h3>Tecnologías Utilizadas:</h3>
                    <ul>
                        <li *ngFor="let tecnologia of item.tecnologia"> {{ tecnologia.detalle }} </li>
                    </ul>
                    <br><br>
                    <hr>
            </p-card>
        </div>

    </div>




    <div class="col-12 md:col-5 lg:col-4">

        <div class="col-12 ">
            <p-card header="Datos Personales">
               
                <!-- CONTACTO -->
                <p>
                    <i class="pi pi-angle-right text-justify text-color-secondary">Nombre: </i> {{ personalInformation.nombre }}
                </p>

                <p>
                    <i class="pi pi-angle-right text-justify text-color-secondary">Rut: </i> {{ personalInformation.rut }}
                </p>

                <p>
                    <i class="pi pi-angle-right text-justify text-color-secondary">Edad: </i> {{ personalInformation.edad }}
                </p>

                <p>
                    <i class="pi pi-angle-right text-justify text-color-secondary">Fecha de Nacimiento: </i> {{ personalInformation.fechaNacimiento | date }}
                </p>

                <p>
                    <i class="pi pi-angle-right text-justify text-color-secondary">Dirección: </i> {{ personalInformation.direccion }}
                </p>
                
            </p-card>
        </div>

        <div class="col-12 ">
            <p-card header="Datos de Contacto">
               
                <!-- SOCIAL -->
                
                <p *ngFor="let contact of contacts">
                    
                    <img src="../../../../assets/iconDev/{{contact.icon}}.png" alt="{{ contact.icon }}" width="20"/>
                    
                    {{ contact.propiedad }} : {{ contact.detalle }} 
                    <!-- <a href="{{ contact.detalle }}" target="_blank"></a>  -->
                    
                </p>
                
            </p-card>
        </div>

        <div class="col-12 ">
            <p-card header="Conocimiento en">
                
                    <ul>
                        <li *ngFor="let skill of skills">
                            <img src="../../../../assets/iconDev/{{skill.icon}}.png" alt="{{ skill.icon }}" width="20"/> {{ skill.nombre }}
                        </li>
                    </ul>

            </p-card>
        </div>

        <div class="col-12">
            <p-card header="Estudios">
                
                <p >
                    <i class="pi pi-angle-right text-justify text-color-secondary text-lg"> Universidad Santo Tomás: </i>  <b class="text-justify text-xl"> Ingeniero en Informática</b>
                </p>

                <p>
                    <i class="pi pi-angle-right text-justify text-color-secondary text-lg"> Fuerza Aérea de Chile: </i>  <b class="text-justify text-xl"> Soldado Conscripto de reserva.</b>
                </p>

                    <!-- <ul>
                        <li> 
                            <h3 > Universidad Santo Tomás :</h3> <h5> Ingerniero en informática </h5>
                        </li>
                    </ul>

                    <ul>
                        <li> 
                            <h3> Fuerza Aérea de Chile :</h3> <h5> Soldado Conscripto de reserva. Militar. </h5>
                        </li>
                    </ul> -->

            </p-card>
        </div>

    </div>


</div>


