

<div class="text-layout">

    <h1>Yonathan Placencia</h1>

    <p>
        Curriculum Vitae
    </p>

</div>


<div class="grid">

    <div class="col-12 md:col-7 lg:col-8">

        <div class="col-12 ">
            <p-card header="Acerca de mi"
                    subheader="Presentación">

                    <p>
                        Presentación
                    </p>
                    
            </p-card>
            
        </div>        

        <div class="col-12 ">
            <p-card header="Experiencia"
                    subheader="Fechas">
                    experiencia
            </p-card>
        </div>
        <div class="col-12">
            <p-card header="EstudiciEstudios"
                    subheader="Fechas">
                    Estudios
            </p-card>
        </div>

    </div>




    <div class="col-12 md:col-5 lg:col-4">

        <div class="col-12 ">
            <p-card header="Contacto"
                    subheader="Contacto">
               
                CONTACTO


            </p-card>
        </div>

        <div class="col-12 ">
            <p-card header="Social"
                    subheader="Social">
               
                SOCIAL


            </p-card>
        </div>

        <div class="col-12 ">
            <p-card header="Skill"
                    subheader="Skill">
               
                SKILL   


            </p-card>
        </div>

    </div>


</div>


